SOLANA_RPC_URL=https://devnet.helius-rpc.com/?api-key=<YOUR_HELIUS_KEY>

# The register instance `bootstrap_register_devnet.ts` initialises - set to the id of the
# instance you're bootstrapping:
#   dev:  DPEfE7E9LExX61taVQRQHpxZGkFEKLzRqwfCDMtzFg2K
#   prod: 61FGhEA7embzcojRPRf62ZCdLEcBP8fDeaafUFQxe7HR
REGISTER_PROGRAM_ID=<dev or prod program id>
