fragments/blockchain/solana/target/*
!fragments/blockchain/solana/target/idl
fragments/blockchain/solana/.anchor/
fragments/blockchain/solana/tests/target
/solana.id.json
/solana_program_keys
**/*-keypair.json
**/*.id.json