# node
node_modules

# python
.venv
__pycache__/
*.pyc
*.pyo
.mypy_cache

# cargo / rust
/target

# go
/.bin

# blockchain
/solana.id.json
.anchor
/fragments/blockchain/solana/target/*
!/fragments/blockchain/solana/target/idl
!/fragments/blockchain/solana/target/types

# misc
.DS_Store